html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: minmax(auto, 64rem);
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  min-height: 100%;
}

.navbar {
  ul {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-gap: 1rem;
    justify-items: left;
    align-items: center;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}

.header {
  > h1 {
    margin: 0;
  }

  text-transform: uppercase;
}

.content {
}

.footer {
  font-size: small;
  padding-bottom: 1rem;
}

